<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26650812-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-26650812-6');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://mhw-cs.solunita.net">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>MHW 弱点検索</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#5D4037">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="MHW 弱点検索">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#5D4037">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:title" content="MHW 弱点検索">
    <meta name="twitter:title" content="MHW 弱点検索">
    <meta property="og:site_name" content="MHW 弱点検索">
    <meta name="description" content="モンスターハンターワールド モンスター弱点検索システム ロード待ちや準備の時にスマホで操作でき、簡単に素早くモンスターの弱点属性や部位を調べることができます。ホーム登録にすればダウンロードすることなくアプリのように使うことができます。">
    <meta property="og:description" content="モンスターハンターワールド モンスター弱点検索システム ロード待ちや準備の時にスマホで操作でき、簡単に素早くモンスターの弱点属性や部位を調べることができます。ホーム登録にすればダウンロードすることなくアプリのように使うことができます。">
    <meta name="twitter:description" content="モンスターハンターワールド モンスター弱点検索システム ロード待ちや準備の時にスマホで操作でき、簡単に素早くモンスターの弱点属性や部位を調べることができます。ホーム登録にすればダウンロードすることなくアプリのように使うことができます。">
    <meta property="og:url" content="https://mhw-cs.solunita.net">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:image" content="https://mhw-cs.solunita.net/static/img/icons/og-image.png">
    <meta property="og:type" content="game">
    <meta property="fb:app_id" content="168544463951373">
    <meta name="twitter:creator" content="@AquiTCD">
    <meta name="twitter:card" content="summary">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '168544463951373',
          xfbml      : true,
          version    : 'v2.12'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
